.outerContainer{
    align-items: stretch;
    background: lightblue;
    display: flex;
    height: 100vh;
    justify-content: center;
    padding: 10px;
}

.container{
    background: white;
    border-radius: 8px;
    display: flex;
    justify-content: space-between;
    padding: 5px;
    max-width: 800px;
    width: 80%;
}

.chatContainer{
    background: white;
    display: flex;
    flex-direction: column;
    flex-grow: 2;
    justify-content: space-between;
    padding: 3px;
}

.usersContainer{
    background: rgb(241, 181, 102);
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    margin-left: 3px;
    padding: 10px;
    width: 30%;
}