.joinOuterContainer{
    background: url('../../images/splash.jpg');
    background-size: cover;
    display: flex;
    justify-content: center;
    height: 100%;
    width: 100%;
}

.joinInnerContainer{
    background: white;
    border-radius: 1rem;
    font-size: 1rem;
    font-weight: bold;
    max-height: 370px;
    opacity: 0.8;
    padding: 2rem;
    position: relative;
    top: 10rem;
}

.heading{
    font-family: 'Comfortaa', cursive;
    margin-top: 0px;
    text-align: center;
}

.joinInput{
    display: flex;
    flex-direction: column;
}

.joinInput p{
    margin: 0 auto 2rem;
}

.joinInput input{
    font-family: 'Comfortaa', cursive;
    margin-bottom: 5px;
}

a{
    display: flex;
    justify-content: center;
    margin: 1rem auto 2rem;
    text-decoration: none;
    width: 150px;
}

.button{
    font-size: 1.1em;
    margin: 0px auto;
    text-decoration: none;
    width: 100%;
}