.joinOuterContainer{
    padding-top: 15%;
}

.joinInnerContainer{
    justify-content: center;
    margin: 0px auto;
    max-width: 320px;
    width: 50%;
}

.heading{
    font-family: 'Comfortaa', cursive;
    margin-top: 0px;
    text-align: center;
}

.joinInput{
    display: flex;
    flex-direction: column;
}

.joinInput p{
    margin: 0px auto 0px;
}

.joinInput input{
    font-family: 'Comfortaa', cursive;
    margin-bottom: 5px;
}

a{
    display: flex;
    justify-content: center;
    margin: 10px auto;
    text-decoration: none;
    width: 150px;
}

.button{
    font-size: 1.1em;
    margin: 0px auto;
    text-decoration: none;
    width: 100%;
}