.messageInfo{
    display: flex;
    margin: 0px;
}

.sentText{
    font-size: 0.9rem;
    font-weight: bold;
    margin-top: 0.5rem;
}

.dateText{
    font-size: 0.7rem;
    margin-left: 0.5rem;
}

.messageBox{
    background: white;
    border-radius: 20px;
    display: inline-block;
    margin: 2px;
    padding: 5px 20px;
}

.messageText{
    border-radius: 5px;
    float: left;
    font-size: 0.9rem;
    margin: 0px;
    padding: 2px 2px;
    width: 100%;
    word-wrap: break-word;
}

.backgroundBlue{
    background: rgb(230, 228, 228);
}

.backgroundLight{
    border: solid 1px lightgrey;
}